@layout("/common/layout.html",{title:'管理'}){
<div class="layui-fluid weadmin-body">
    <form class="layui-form" action="">
        <div class="layui-elem-quote">
            <label>离职日志</label>
        </div>
        <br />
        <div class="layui-form-item clearfix" style="width: 150%">

            <div class="layui-input-inline">
                <input type="text" id="condition1" placeholder="请输入操作ID" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <input type="text" id="condition2" placeholder="请输入操作员ID或姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <input type="text" id="condition3" placeholder="请输入离职员工ID或姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-form" lay-filter="searchBar">
                <div class="layui-input-inline" style="width: 250px" lay-filter="searchBar">
                    <select  id="operationTime" lay-verify="required" lay-search="" >
                    </select>
                </div>
            </div>
            <div class="layui-input-inline" >
                <button class="layui-btn" data-type="reload" type="button" onclick="DepartureLog.search()"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon">&#xe00A;</i>重置</button>
            </div>

        </div>

    </form>

    <table id="DepartureLogTable" ></table>
</div>
<script src="${ctxPath}/static/salary/departure/departureLog.js"></script>
@}
