<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdinfo.salary.PermissionManagement.dao.UtilMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxdinfo.salary.PermissionManagement.model.Util">
        <id column="STAFF_ID" property="staffId" />
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="PERMISSION_ID" property="permissionId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="PERMISSION_NAME" property="permissionName" />
    </resultMap>


    <!--主要思路 ：
        首先让白名单减去黑名单
        但是因为涉及到超级管理的权限
        如果黑名单有超级管理 要减去超级管理对应部门的所有权限
        如果白名单里有超级权限 要变成相应的普通权限 再去减去白名单的权限 -->
    <select id="selectList" parameterType="long" resultMap="BaseResultMap">
      select *
             from
                    (select a.STAFF_ID, a.PERMISSION_ID,PERMISSION_NAME,a.DEPARTMENT_ID,DEPARTMENT_NAME
                        from t_white_list a,t_department b,t_permission c
                        where a.STAFF_ID = #{staffId} and a.DEPARTMENT_ID = b.DEPARTMENT_ID
                              and a.PERMISSION_ID = c.PERMISSION_ID and a.PERMISSION_ID !=99

                    UNION

                    select a.STAFF_ID, c.PERMISSION_ID,PERMISSION_NAME,a.DEPARTMENT_ID,DEPARTMENT_NAME
                      from t_white_list a,t_department b,t_permission c
                      where a.PERMISSION_ID = 99 and a.STAFF_ID = #{staffId}
                        and a.DEPARTMENT_ID = b.DEPARTMENT_ID and c.PERMISSION_Id != 99 ) white

              where (STAFF_ID, PERMISSION_ID,PERMISSION_NAME,DEPARTMENT_ID,DEPARTMENT_NAME) not in

                    (select a.STAFF_ID, a.PERMISSION_ID,PERMISSION_NAME,a.DEPARTMENT_ID,DEPARTMENT_NAME
                      from t_black_list a,t_department b,t_permission c
                      where a.STAFF_ID = #{staffId} and a.DEPARTMENT_ID = b.DEPARTMENT_ID
                        and a.PERMISSION_ID = c.PERMISSION_ID

                    UNION

                    select a.STAFF_ID, c.PERMISSION_ID,PERMISSION_NAME,a.DEPARTMENT_ID,DEPARTMENT_NAME
                      from t_black_list a,t_department b,t_permission c
                      where a.PERMISSION_ID = 99 and a.STAFF_ID = #{staffId}
                            and a.DEPARTMENT_ID = b.DEPARTMENT_ID and c.PERMISSION_Id != 99 )

    </select>
</mapper>