<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdinfo.salary.PermissionManagement.dao.WhiteListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxdinfo.salary.PermissionManagement.model.WhiteList">
        <id column="STAFF_ID" property="staffId" />
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="PERMISSION_ID" property="permissionId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="DEPARTMENT_NAME" property="departmentName" />
        <result column="PERMISSION_NAME" property="permissionName" />
    </resultMap>



    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAFF_ID AS staffId, DEPARTMENT_ID AS departmentId, PERMISSION_ID AS permissionId
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">
        select a.STAFF_ID,d.STAFF_NAME, a.PERMISSION_Id,PERMISSION_NAME,a.DEPARTMENT_ID,DEPARTMENT_NAME
          from t_white_list a,t_department b,t_permission c,t_staff d
        <where>
              a.DEPARTMENT_ID = b.DEPARTMENT_ID and a.PERMISSION_ID = c.PERMISSION_ID and a.STAFF_ID = d.STAFF_ID
            <if test="ew.sqlSegment!=null">${ew.sqlSegment}</if>
        </where>
        order by a.STAFF_ID ASC
    </select>

    <select id="selectStaffId" resultType="int">
        select distinct STAFF_ID FROM t_white_list
    </select>

    <select id="selectStaffName" resultType="string">
        select DISTINCT STAFF_NAME
        from t_white_list a,t_staff b
        where a.STAFF_ID = b.STAFF_ID
                ${ew.sqlSegment}
    </select>

    <select id="selectDepartmentName" resultType="string">
        select distinct DEPARTMENT_NAME
        from t_white_list a, t_department b, t_staff c
        where a.DEPARTMENT_ID = b.DEPARTMENT_ID  and a.STAFF_ID = c.STAFF_ID
               ${ew.sqlSegment}
    </select>

    <select id="selectPermissionName" resultType="string">
        select distinct PERMISSION_NAME
        from t_white_list a, t_permission b ,t_staff c
        where a.PERMISSION_ID = b.PERMISSION_ID and a.STAFF_ID = c.STAFF_ID
               ${ew.sqlSegment}
    </select>

    <select id="searchByCondition" resultMap="BaseResultMap" parameterType="string">
        select a.STAFF_ID,d.STAFF_NAME, a.PERMISSION_Id,PERMISSION_NAME,a.DEPARTMENT_ID,DEPARTMENT_NAME
        from t_white_list a,t_department b,t_permission c,t_staff d
        <where>
            (a.STAFF_ID like #{condition} or d.STAFF_NAME like #{condition}) and
            a.DEPARTMENT_ID = b.DEPARTMENT_ID and a.PERMISSION_ID = c.PERMISSION_ID and a.STAFF_ID = d.STAFF_ID
        </where>
        order by a.STAFF_ID ASC
    </select>

    <!--批量删除-->
    <delete id="deleteBatchByIds">
        delete from t_white_list
        where
        <foreach collection="list" item="item" index="index" separator="or">
            (STAFF_ID = #{item.staffId}
            and DEPARTMENT_ID = #{item.departmentId}
            and PERMISSION_ID = #{item.permissionId})
        </foreach>
    </delete>

    <update id="update" parameterType="com.jxdinfo.salary.PermissionManagement.model.WhiteList">
        update t_white_list SET DEPARTMENT_ID=${et.departmentId},  PERMISSION_ID=${et.permissionId}
        <where>
            ${ew.sqlSegment}
        </where>
    </update>

    <insert id="insert" parameterType="com.jxdinfo.salary.PermissionManagement.model.WhiteList">
        insert into t_white_list(STAFF_ID,DEPARTMENT_ID,PERMISSION_ID)
          values (#{staffId}, #{departmentId}, #{permissionId})
    </insert>

    <select id="selectList" resultMap="BaseResultMap">
        select * from t_white_list
        <where>
            ${ew.sqlSegment}
        </where>
    </select>


</mapper>
