@layout("/common/layout.html",{title:'管理'}){
<div class="layui-fluid weadmin-body">
    <form class="layui-form" action="">
        <div class="layui-elem-quote">
            <label>调动日志</label>
        </div>
        <br />
        <div class="layui-form-item clearfix" style="width: 100%">
            <div class="layui-input-inline" style="width: 15%">
                <input type="text" id="condition1" placeholder="请输入操作编码" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline" style="width: 15%">
                <input type="text" id="condition2" placeholder="请输入操作员工号或姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline" style="width: 15%">
                <input type="text" id="condition3" placeholder="请输入调动员工工号或姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" data-type="reload" type="button" onclick="MoveLog.search()"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon">&#xe00A;</i>重置</button>
            </div>
            <div class="layui-form" lay-filter="search">
                <div class="fr" style="display: flex">
                    <div class="layui-input-inline" style="width: 140px">
                        <select  id="oldD" lay-verify="required" lay-search="" lay-filter="searchBar">
                            <option value="">请选择原部门</option>
                        </select>
                    </div>
                    <!--<div class="layui-input-inline" style="width: 9%">
                        <select  id="oldP" lay-verify="required" lay-search="" lay-filter="searchBar">
                        </select>
                    </div>-->
                    <div class="layui-input-inline" style="width: 140px">
                        <select  id="newD" lay-verify="required" lay-search="" lay-filter="searchBar">
                            <option value="">请选择新部门</option>
                        </select>
                    </div>
                    <!--<div class="layui-input-inline" style="width: 9%">
                        <select  id="newP" lay-verify="required" lay-search="" lay-filter="searchBar">
                        </select>
                    </div>-->
                    <div class="layui-input-inline" style="width: 170px">
                        <select  id="operationTime" lay-verify="required" lay-search="" lay-filter="searchBar">
                            <option value="">请选择调动时间</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </form>

    <table id="MoveLogTable" ></table>
</div>
<script src="${ctxPath}/static/salary/move/moveLog.js"></script>
@}
