@layout("/common/layout.html",{title:'管理'}){
<div class="layui-fluid weadmin-body">
    <form class="layui-form" action="">
        <div class="layui-elem-quote">
            <label>调动日志</label>
        </div>
        <br />
        <div class="layui-form-item clearfix">
            <div class="layui-input-inline">
                <input type="text" id="moveName" placeholder="请输入调动员工姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" data-type="reload" type="button" onclick="MoveLog.search()"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon">&#xe00A;</i>重置</button>
            </div>
            <div class="fr">

            </div>
        </div>
    </form>
    <table id="MoveLogTable" ></table>
</div>
<script src="${ctxPath}/static/salary/move/moveLog.js"></script>
@}
