<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdinfo.salary.departure.dao.DepartureLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxdinfo.salary.departure.model.DepartureLog">
        <id column="OPERATION_ID" property="operationId" />
        <result column="OPERATION_TIME" property="operationTime" />
    </resultMap>

    <!-- 带关联查询映射结果 -->
    <resultMap id="WithRefResultMap" type="com.jxdinfo.salary.departure.model.DepartureLog" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="operator" javaType="com.jxdinfo.salary.staff.model.Staff"
                     column="OPERATOR_ID" select="getOperatorById"/>
        <association property="departure" javaType="com.jxdinfo.salary.staff.model.Staff"
                     column="DEPARTURE_ID" select="getDepartureById"/>
    </resultMap>

    <!-- 关联查询员工 -->
    <select id="getOperatorById" resultMap="com.jxdinfo.salary.staff.dao.StaffMapper.BaseResultMap">
        select * from t_staff where STAFF_ID=#{operatorId}
    </select>
    <select id="getDepartureById" resultMap="com.jxdinfo.salary.staff.dao.StaffMapper.BaseResultMap">
        select * from t_staff where STAFF_ID=#{departureId}
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPERATION_ID AS operationId, OPERATOR_ID AS operatorId, DEPARTURE_ID AS departureId, OPERATION_TIME AS operationTime
    </sql>

    <!-- 分页查询 -->
    <select id="selectPage" resultMap="WithRefResultMap">
        select * from t_departure_log
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="selectByDidPage" resultMap="WithRefResultMap">
        select * from t_departure_log
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <!--模糊查询-->
    <select id="likeSelect" resultMap="WithRefResultMap">
        select a.OPERATION_ID,a.OPERATOR_ID,b.STAFF_NAME,a.DEPARTURE_ID,c.STAFF_NAME,a.OPERATION_TIME
        from t_departure_log a,t_staff b,t_staff c
        <where>
            a.OPERATOR_ID = b.STAFF_ID and a.DEPARTURE_ID = c.STAFF_ID
            <if test="condition1 != null and condition1 != '' ">
                and a.OPERATION_ID like concat(concat("%",#{condition1}),"%")
            </if>
            <if test="condition2 != null and condition2 != '' ">
                and( b.STAFF_NAME like concat(concat("%",#{condition2}),"%")
                or a.OPERATOR_ID like concat(concat("%",#{condition2}),"%"))
            </if>
            <if test="condition3 != null and condition3 != '' ">
                and( c.STAFF_NAME like concat(concat("%",#{condition3}),"%")
                or a.DEPARTURE_ID like concat(concat("%",#{condition3}),"%"))
            </if>
        </where>
    </select>

    <!--带筛选的模糊查询-->
    <select id="likeSelectByCondition" resultMap="WithRefResultMap">
        select a.OPERATION_ID,a.OPERATOR_ID,b.STAFF_NAME,a.DEPARTURE_ID,c.STAFF_NAME,a.OPERATION_TIME
        from t_departure_log a,t_staff b,t_staff c
        <where>
            a.OPERATOR_ID = b.STAFF_ID and a.DEPARTURE_ID = c.STAFF_ID
            <if test="condition1 != null and condition1 != '' ">
                and a.OPERATION_ID like concat(concat("%",#{condition1}),"%")
            </if>
            <if test="condition2 != null and condition2 != '' ">
                and( b.STAFF_NAME like concat(concat("%",#{condition2}),"%")
                or a.OPERATOR_ID like concat(concat("%",#{condition2}),"%"))
            </if>
            <if test="condition3 != null and condition3 != '' ">
                and( c.STAFF_NAME like concat(concat("%",#{condition3}),"%")
                or a.DEPARTURE_ID like concat(concat("%",#{condition3}),"%"))
            </if>
            ${ew.sqlSegment}
        </where>
    </select>

    <!-- 查询最大操作ID的记录 -->
    <select id="selectMaxOperationId" resultMap="BaseResultMap">
        select * from t_departure_log
        where OPERATION_ID REGEXP CONCAT('^',#{time},'2[0-9]{3}$') and OPERATION_ID >= all(
            select OPERATION_ID from t_departure_log
            where OPERATION_ID REGEXP CONCAT('^',#{time},'2[0-9]{3}$')
        )
    </select>

    <!-- 插入 -->
    <insert id="insert">
        insert into t_departure_log(OPERATION_ID,OPERATOR_ID,DEPARTURE_ID,OPERATION_TIME)
        values (#{operationId},#{operator.staffId},#{departure.staffId},#{operationTime})
    </insert>

    <!-- 更新-->
    <update id="updateById">
        update t_departure_log
        set OPERATOR_ID = #{et.operator.staffId},
            DEPARTURE_ID = #{et.departure.staffId},
            OPERATION_TIME = #{et.operationTime}
        where OPERATION_ID = #{et.operationId}
    </update>




</mapper>
