@layout("/common/layout.html",{title:'管理'}){
<div class="layui-fluid weadmin-body">
    <form class="layui-form" action="" lay-filter="toolbar">
        <div class="layui-elem-quote">
            <label>人员管理</label>
        </div>
        <br />
        <div class="layui-form-item clearfix">
            <div class="layui-input-inline">
                <input type="text" id="condition" placeholder="请输入员工ID或员工姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" data-type="reload" type="button" onclick="Staff.search()"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon">&#xe00A;</i>重置</button>
            </div>
            <div class="fr">
                <button type="button" class="layui-btn" id="add"
                onclick="Staff.openAddStaff()"><i class="layui-icon">&#xe654;</i>入职</button>
                <button type="button" class="layui-btn" id="edit"
                onclick="Staff.openStaffDetail()"><i class="layui-icon">&#xe642;</i>修改</button>
                <button type="button" class="layui-btn" id="del"
                onclick="Staff.delete()"><i class="layui-icon">&#xe640;</i>离职</button>
            </div>
        </div>
    </form>

    <div style="width: 100%">
        <div class="layui-form" lay-filter="searchBar">
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline">
                    <select id="staffName" lay-verify="required" lay-search=""></select>
                </div>
            </div>
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline">
                    <select id="gender" lay-verify="required" lay-search=""></select>
                </div>
            </div>
            <div class="layui-form-item clearfix">
            </div>
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline">
                    <select id="department" lay-verify="required" lay-search=""></select>
                </div>
            </div>
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline">
                    <select id="position" lay-verify="required" lay-search=""></select>
                </div>
            </div>
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline">
                    <select id="entryTime" lay-verify="required" lay-search=""></select>
                </div>
            </div>
            <div class="layui-form-item clearfix">
                <div class="layui-input-inline">
                    <select id="departureTime" lay-verify="required" lay-search=""></select>
                </div>
            </div>

        </div>
    </div>

    <table id="StaffTable" ></table>
</div>
<script src="${ctxPath}/static/salary/staff/staff.js"></script>
@}
