@layout("/common/layout.html",{title:'管理'}){
<div id='staffBody' class="layui-fluid weadmin-body">
    <form class="layui-form" action="" lay-filter="toolbar">
        <div class="layui-elem-quote">
            <label>员工管理</label>
        </div>
        <br />
        <div class="layui-form-item clearfix">
            <div class="layui-input-inline" style="width: 120px;">
                <input type="text" id="condition" placeholder="工号/姓名" autocomplete="off" class="layui-input" >
            </div>
            <div class="layui-input-inline" style="width: 70px;">
                <select id="gender" lay-verify="required" lay-search="">
                    <option value="">性别</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 120px;">
                <select id="department" lay-verify="required" lay-search="">
                    <option value="">部门</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width: 70px;">
                <select id="position" lay-verify="required" lay-search="">
                    <option value="">职位</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <button class="layui-btn" data-type="reload" type="button" onclick="Staff.search()"><i class="layui-icon">&#xe615;</i>查询</button>
                <button class="layui-btn" type="reset"><i class="layui-icon">&#xe00A;</i>重置</button>
            </div>
            <div class="fr">
                <button type="button" class="layui-btn" id="add"
                        onclick="Staff.openAddStaff()"><i class="layui-icon">&#xe654;</i>入职</button>
                <button type="button" class="layui-btn" id="edit"
                        onclick="Staff.openStaffDetail()"><i class="layui-icon">&#xe642;</i>修改</button>
                <button type="button" class="layui-btn" id="del"
                        onclick="Staff.delete()"><i class="layui-icon">&#xe640;</i>离职</button>
            </div>
        </div>
    </form>

    <div>
        <div class="layui-form" lay-filter="searchBar">
            <div class="fr" style="display: flex">
                <div class="layui-input-inline" style="width: 147px;">
                    <select id="entryTime" lay-verify="required" lay-search="" class="">
                        <option value="">入职时间</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width: 161px;">
                    <select id="departureTime" lay-verify="required" lay-search="">
                        <option value="">离职时间</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <table id="StaffTable" ></table>
</div>
<script src="${ctxPath}/static/salary/staff/staff.js"></script>
@}
