@layout("/common/layout.html",{title:'详情'}){
<div class="weadmin-body-1 layui-form" style="padding-bottom:50px;">
            <div class="layui-form-item">
                <label class="layui-form-label">员工工号：</label>
                <div class="layui-input-inline">
                    <input id="staffId" name="staffId" class="layui-input"
                        placeholder="请输入员工工号" value="${item.staffId}" readonly>
                </div>
            </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-input-inline">
                        <input id="staffName" name="staffName" class="layui-input"
                               placeholder="请输入姓名" value="${item.staffName}" lay-verify="username">
                    </div>
             </div>

            <div class="layui-form-item">
                    <label class="layui-form-label">性别：</label>
                    <div class="layui-input-inline">
                        <select id="gender" name="gender">
                            @if(item.gender=='0'){
                            <option value="1">男</option>
                            <option value="0" selected>女</option>
                            @}else{
                            <option value="1" selected>男</option>
                            <option value="0">女</option>
                            @}
                        </select>
                    </div>
             </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">部门</label>
                    <div class="layui-input-inline">
                        <select id="departmentId" name="departmentId"></select>
                    </div>
             </div>
            <div class="layui-form-item">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-inline">
                        <select id="positionId" name="positionId"></select>
                    </div>
             </div>

    <div class="layerBtnCenter btn-box btn-box-1">
        <button type="button" name="取消" class="layui-btn btn-close" id="cancel"
        onclick="StaffInfoDlg.close()"><i class="iconfont">&#x1006;</i>取消</button>
        <button type="button" name="提交" class="layui-btn btn-save" id="ensure"
                lay-submit lay-filter="staffEditSubmit"><i class="iconfont">&#xe009;</i>保存</button>
    </div>
</div>
<script>
    var departmentId_value = "${item.department.departmentId}";
    var positionId_value = "${item.position.positionId}";
</script>
<script src="${ctxPath}/static/salary/staff/staff_info.js"></script>
@}
