<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdinfo.salary.entry.dao.EntryLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxdinfo.salary.entry.model.EntryLog">
        <id column="OPERATION_ID" property="operationId" />
        <result column="OPERATION_TIME" property="operationTime" />
    </resultMap>

    <!-- 带关联查询映射结果 -->
    <resultMap id="WithRefResultMap" type="com.jxdinfo.salary.entry.model.EntryLog" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="operator" javaType="com.jxdinfo.salary.staff.model.Staff"
                     column="OPERATOR_ID" select="getOperatorById"/>
        <association property="entrant" javaType="com.jxdinfo.salary.staff.model.Staff"
                     column="ENTRANT_ID" select="getEntrantById"/>
    </resultMap>

    <!-- 关联查询员工 -->
    <select id="getOperatorById" resultMap="com.jxdinfo.salary.staff.dao.StaffMapper.WithRefResultMap2">
        select * from t_staff
        where STAFF_ID=#{operatorId}
    </select>
    <select id="getEntrantById" resultMap="com.jxdinfo.salary.staff.dao.StaffMapper.WithRefResultMap2">
        select * from t_staff where STAFF_ID=#{entrantId}
    </select>

<!--    &lt;!&ndash; 关联查询部门 &ndash;&gt;-->
<!--    <select id="getDepartmentByEntrantId" resultMap="com.jxdinfo.salary.department.dao.DepartmentMapper.BaseResultMap">-->
<!--        select * from t_department where-->
<!--        DEPARTMENT_ID in (select DEPARTMENT_ID from t_staff where STAFF_ID=#{entrantId})-->
<!--    </select>-->

<!--    &lt;!&ndash; 关联查询职位 &ndash;&gt;-->
<!--    <select id="getPositionByEntrantId" resultMap="com.jxdinfo.salary.position.dao.PositionMapper.BaseResultMap">-->
<!--        select * from t_position where-->
<!--        POSITION_ID in (select POSITION_ID from t_staff where STAFF_ID=#{entrantId})-->
<!--    </select>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        OPERATION_ID AS operationId, OPERATOR_ID AS operatorId, ENTRANT_ID AS entrantId, OPERATION_TIME AS operationTime
    </sql>

    <!-- 分页查询 -->
    <select id="selectPage" resultMap="WithRefResultMap">
        select * from t_entry_log
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="selectByDidPage" resultMap="WithRefResultMap">
        select * from t_entry_log
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <!-- 查询最大操作ID的记录 -->
    <select id="selectMaxOperationId" resultMap="BaseResultMap">
        select * from t_entry_log
        where OPERATION_ID REGEXP CONCAT('^',#{time},'1[0-9]{3}$') and OPERATION_ID >= all(
            select OPERATION_ID from t_entry_log
            where OPERATION_ID REGEXP CONCAT('^',#{time},'1[0-9]{3}$')
        )
    </select>

    <!-- 插入 -->
    <insert id="insert">
        insert into t_entry_log(OPERATION_ID,OPERATOR_ID,ENTRANT_ID,OPERATION_TIME)
        values (#{operationId},#{operator.staffId},#{entrant.staffId},#{operationTime})
    </insert>

    <!-- 更新-->
    <update id="updateById">
        update t_entry_log
        set OPERATOR_ID = #{et.operator.staffId},
            ENTRANT_ID = #{et.entrant.staffId},
            OPERATION_TIME = #{et.operationTime}
        where OPERATION_ID = #{et.operationId}
    </update>

    <!--模糊查询-->
    <select id="likeSelect" resultMap="WithRefResultMap" parameterType="string">
        select a.OPERATION_ID,a.OPERATOR_ID,a.ENTRANT_ID,a.OPERATION_TIME
        from t_entry_log a left join t_staff b on a.OPERATOR_ID=b.STAFF_ID left join t_staff c on a.ENTRANT_ID = c.STAFF_ID
        <where>
            1 = 1
            <if test="condition1 != null and condition1 != '' ">
                and a.OPERATION_ID like concat(concat("%",#{condition1}),"%")
            </if>
            <if test="condition2 != null and condition2 != '' ">
                and( b.STAFF_NAME like concat(concat("%",#{condition2}),"%")
                or a.OPERATOR_ID like concat(concat("%",#{condition2}),"%"))
            </if>
            <if test="condition3 != null and condition3 != '' ">
                and( c.STAFF_NAME like concat(concat("%",#{condition3}),"%")
                or a.ENTRANT_ID like concat(concat("%",#{condition3}),"%"))
            </if>
        </where>
    </select>

    <!--带筛选的模糊查询-->
    <select id="likeSelectByCondition" resultMap="WithRefResultMap" parameterType="string">
        select a.OPERATION_ID,a.OPERATOR_ID,a.ENTRANT_ID,a.OPERATION_TIME
        from t_entry_log a left join t_staff b on a.OPERATOR_ID=b.STAFF_ID left join t_staff c on a.ENTRANT_ID = c.STAFF_ID
        <where>
            1 = 1
            <if test="condition1 != null and condition1 != '' ">
                and a.OPERATION_ID like concat(concat("%",#{condition1}),"%")
            </if>
            <if test="condition2 != null and condition2 != '' ">
                and( b.STAFF_NAME like concat(concat("%",#{condition2}),"%")
                or a.OPERATOR_ID like concat(concat("%",#{condition2}),"%"))
            </if>
            <if test="condition3 != null and condition3 != '' ">
                and( c.STAFF_NAME like concat(concat("%",#{condition3}),"%")
                or a.ENTRANT_ID like concat(concat("%",#{condition3}),"%"))
            </if>
            ${ew.sqlSegment}
        </where>
    </select>

    <!--带筛选的特定部门的模糊查询-->
    <select id="likeSelectByConditionD" resultMap="WithRefResultMap" parameterType="string">
        select a.OPERATION_ID,a.OPERATOR_ID,b.STAFF_NAME,a.ENTRANT_ID,c.STAFF_NAME,
        d.DEPARTMENT_NAME,e.POSITION_NAME, a.OPERATION_TIME
        from t_entry_log a,t_staff b,t_staff c,t_department d,t_position e
        <where>
            a.OPERATOR_ID = b.STAFF_ID and a.ENTRANT_ID = c.STAFF_ID
            and c.DEPARTMENT_ID = d.DEPARTMENT_ID and c.POSITION_ID = e.POSITION_ID
            <if test="condition1 != null and condition1 != '' ">
                and a.OPERATION_ID like concat(concat("%",#{condition1}),"%")
            </if>
            <if test="condition2 != null and condition2 != '' ">
                and( b.STAFF_NAME like concat(concat("%",#{condition2}),"%")
                or a.OPERATOR_ID like concat(concat("%",#{condition2}),"%"))
            </if>
            <if test="condition3 != null and condition3 != '' ">
                and( c.STAFF_NAME like concat(concat("%",#{condition3}),"%")
                or a.ENTRANT_ID like concat(concat("%",#{condition3}),"%"))
            </if>
            ${ew.sqlSegment}
        </where>
    </select>


</mapper>
