<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdinfo.hussar.inisalary.dao.TInisalaryInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxdinfo.hussar.inisalary.model.TInisalaryInfo">
        <id column="STAFF_ID" property="staffId" />
        <result column="STAFF_NAME" property="staffName" />
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="YEARS" property="years" />
        <result column="LEVEL" property="level" />
        <result column="INITIAL_SALARY" property="initialSalary" />
<!--        <result column="DEPARTMENT_NAME" property="departmentName" />-->
    </resultMap>
    <!-- 带关联查询映射结果 -->
    <resultMap id="WithRefResultMap" type="com.jxdinfo.hussar.inisalary.model.TInisalaryInfo" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="department" javaType="com.jxdinfo.hussar.inisalary.model.TDepartment"
                     column="DEPARTMENT_ID" select="getDepartmentByDepartmentId"/>
    </resultMap>

    <!-- 带部门查询映射结果 -->
    <resultMap id="WithDepResultMap" type="com.jxdinfo.hussar.inisalary.model.TInisalaryInfo" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="department" javaType="com.jxdinfo.hussar.inisalary.model.TDepartment"
                     column="DEPARTMENT_ID" select="getDepartmentByDepartmentId"/>
    </resultMap>
    <!-- 关联查询部门 -->
    <select id="getDepartmentByDepartmentId" resultMap="com.jxdinfo.hussar.inisalary.dao.TDepartmentMapper.BaseResultMap">
        select * from t_department where DEPARTMENT_ID=#{departmentId}
    </select>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAFF_ID AS staffId, STAFF_NAME AS staffName, DEPARTMENT_ID AS departmentId, YEARS AS years, LEVEL AS level, INITIAL_SALARY AS initialSalary
    </sql>
    <!-- 分页查询 -->
    <select id="selectPage" resultMap="WithRefResultMap">
        select * from t_inisalary_info
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

     <!--新增员工初始工资-->
    <insert id="insert" >
        insert  into t_inisalary_info(STAFF_ID,STAFF_NAME,DEPARTMENT_ID,YEARS,LEVEL,INITIAL_SALARY)
         values (#{staffId}, #{staffName}, #{departmentId},#{years}, #{level}, #{initialSalary})
    </insert>


</mapper>