<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxdinfo.salary.OutSalary.dao.MonthlySalaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jxdinfo.salary.OutSalary.model.MonthlySalary">
        <result column="STAFF_ID" property="staffId" />
        <result column="STAFF_NAME" property="staffName" />
        <!--
        <result column="DEPARTMENT_ID" property="departmentId" />
        <result column="POSITION_ID" property="positionId" />
        -->
        <result column="SALARY_AMOUNT" property="salaryAmount" />
        <result column="SALARY_OF_AGE" property="salaryOfAge" />
        <result column="IAHF" property="iahf" />
        <result column="AWARD_AMOUNT" property="awardAmount" />
    </resultMap>

    <resultMap id="WithRefResultMap" type="com.jxdinfo.salary.OutSalary.model.MonthlySalary" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="department"  javaType="com.jxdinfo.salary.SDepartment.model.SDepartment"
                     column="DEPARTMENT_ID" select="getDepartmentByDepartmentId"/>
        <association property="position"  javaType="com.jxdinfo.salary.TPosition.model.TPosition"
                     column="POSITION_ID" select="getPositionByPositionId"/>
    </resultMap>

    <!-- 带部门查询映射结果 -->
    <resultMap id="WithDepResultMap" type="com.jxdinfo.salary.OutSalary.model.MonthlySalary" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="department" javaType="com.jxdinfo.salary.SDepartment.model.SDepartment"
                     column="DEPARTMENT_ID" select="getDepartmentByDepartmentId"/>
    </resultMap>

    <!-- 带职位查询映射结果 -->
    <resultMap id="WithPosResultMap" type="com.jxdinfo.salary.OutSalary.model.MonthlySalary" extends="BaseResultMap">
        <!--association关联属性  property属性名 javaType属性类型 column在多的一方的表中的列名-->
        <association property="position" javaType="com.jxdinfo.salary.TPosition.model.TPosition"
                     column="POSITION_ID" select="getPositionByPositionId"/>
    </resultMap>

    <!-- 关联查询部门 -->
    <select id="getDepartmentByDepartmentId" resultMap="com.jxdinfo.salary.SDepartment.dao.SDepartmentMapper.BaseResultMap">
        select * from t_department where DEPARTMENT_ID=#{departmentId}
    </select>

    <!-- 关联查询职位 -->
    <select id="getPositionByPositionId" resultMap="com.jxdinfo.salary.TPosition.dao.TPositionMapper.BaseResultMap">
        select * from t_position where POSITION_ID=#{positionId}
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        STAFF_ID AS staffId, STAFF_NAME AS staffName, DEPARTMENT_ID AS departmentId, POSITION_ID AS positionId, SALARY_AMOUNT AS salaryAmount, SALARY_OF_AGE AS salaryOfAge, IAHF AS iahf, AWARD_AMOUNT AS awardAmount
    </sql>

    <!-- 分页查询 -->
    <select id="selectPage" resultMap="WithRefResultMap">
        select * from t_monthly_salary
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

<!--
 <select id="getlist" resultMap="BaseResultMap">
      SELECT * FROM t_monthly_salary
        where
      <if test="name!=null and name!=''">
          STAFF_NAME like concat('%',#{name},'%') or STAFF_ID = #{name}
      </if>
        or STAFF_ID=;
    </select>
    -->
</mapper>
